.top-content .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    
}
.top-content .carousel-control-next-icon {
    width: 40px;
    height: 40px;
  
}
.top-content .carousel-indicators {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #ff6a00;
    border-radius: 50%;
}
body {
    background: #E0E0E0;
}
/*Add to cart and Cardlist*/ 
.details {
    border: 1.5px solid grey;
    color: #212121;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px #212121;
}

.cart {
    background-color: #212121;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px #212121;
}

.card {
    width: fit-content;
}

.card-body {
    width: fit-content;
}

.btn {
    border-radius: 0;
}

.img-thumbnail {
    border: none;
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-bottom: 10px;
}
/*checkout cart*/
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}
/*Login*/
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}