@model IEnumerable<OrderProductListViewModel>
@{ ViewBag.Title = "Browse Products";}

<div class="container-fluid px-5 py-5 mx-auto">
    <div class="row d-flex mb-4 px-3">
        <h5 class="pr-4 bread-crumb">All Products</h5>
        <h5 class="pr-4">></h5>
        <h5 class="text-warning bread-crumb">Some other tab eventually</h5>
    </div>
     @foreach(OrderProductListViewModel p in Model)
      {
         <div class="row justify-content-between px-4">
             <div class="block text-center">
                 <p class="my-3 prod-name">@p.OrderedProduct.Name</p>
                 <a asp-action="AddToCart" asp-controller="Product" class="img-thumbnail">
                     <img class="image-fluid" src="~/Images/@p.OrderedProduct.Image" alt="Company Product" />
                 </a>
                 <div class="price">
                     <h6 class="mb-0">@p.OrderedProduct.UnitPrice</h6>
                 </div>
             </div>
         </div>
      }
    <div class="row justify-content-between px-4">
        <div class="block text-center">
            <p class="my-3 prod-name">Stream Receptacles</p> <img class="image" src="https://i.imgur.com/57tvLxH.jpg">
            <div class="price">
                <h6 class="mb-0">$322</h6>
            </div>
        </div>
        <div class="block text-center">
            <p class="my-3 prod-name">TRIO-$</p> <img class="image" src="https://i.imgur.com/gA5mCux.jpg">
            <div class="price">
                <h6 class="mb-0">$1,132</h6>
            </div>
        </div>
        <div class="block text-center">
            <p class="my-3 prod-name">ReSort</p> <img class="image" src="https://i.imgur.com/raRy5I0.jpg">
            <div class="price">
                <h6 class="mb-0">$1,431</h6>
            </div>
        </div>
        <div class="block text-center">
            <p class="my-3 prod-name">HexBin</p> <img class="image" src="https://i.imgur.com/baenb3V.jpg">
            <div class="price">
                <h6 class="mb-0">$960</h6>
            </div>
        </div>
    </div>
    <div class="row justify-content-between px-4">
        <div class="block text-center">
            <p class="my-3 prod-name">Stream Receptacles</p> <img class="image" src="https://i.imgur.com/57tvLxH.jpg">
            <div class="price">
                <h6 class="mb-0">$322</h6>
            </div>
        </div>
        <div class="block text-center">
            <p class="my-3 prod-name">TRIO-$</p> <img class="image" src="https://i.imgur.com/gA5mCux.jpg">
            <div class="price">
                <h6 class="mb-0">$1,132</h6>
            </div>
        </div>
        <div class="block text-center">
            <p class="my-3 prod-name">ReSort</p> <img class="image" src="https://i.imgur.com/raRy5I0.jpg">
            <div class="price">
                <h6 class="mb-0">$1,431</h6>
            </div>
        </div>
        <div class="block text-center">
            <p class="my-3 prod-name">HexBin</p> <img class="image" src="https://i.imgur.com/baenb3V.jpg">
            <div class="price">
                <h6 class="mb-0">$960</h6>
            </div>
        </div>
    </div>
</div>