@model OdersWebApp.Models.Product
@{ ViewBag.Title = "Delete Product"; }

<h2>Delete Product</h2>

<form asp-action="Delete" method="post">

    <p>
        You are about to delete product <b>@Model.Name</b>. Do you wish to contiune?
    </p>

    <button type="submit" class="btn btn-danger">Yes</button>
    <a asp-area="Admins" asp-action="Details" asp-controller="Product"
       asp-route-model="@ViewBag.Action" asp-route-val="@Model.Slug"
       class="btn btn-dark">No</a>

</form>