<div class="container-fluid justify-content-center">
    <div class="card" style="width:auto">
        <img class="card-img-top p-1" src="~/Images/apexLogo.png" alt="Apex Logo" />
        <br />
        <div class="card-body">
            <h4 class="card-title p-1">Welcome to the Apex Solutions</h4>
            <p class="card-text">
                Order one of our many products to make you more productive.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt<br />
                ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci <br />
            </p>
            <!--Need to add the asp controller-->
            <a asp-area="" asp-action="Display" asp-controller="Product" class="btn btn-success">Goto Products</a>
            <a asp-area="" asp-action="SignUp" asp-controller="Customer" class="btn btn-outline-success">Sign Up</a>
            <a asp-area="" asp-action="Display" asp-controller="Product" class="btn btn-warning">Products</a>
        </div>
    </div>
</div>