@model TempUser
@{ 
    var session = new TempUserSession(Context.Session);
}

<div class="container-fluid justify-content-center">
    <div class="card" style="width:auto">
        <img class="card-img-top p-1" src="/Images/apex3logo.png" alt="Apex Logo" />
        <br />
        <div class="card-body bg-warning">
            <h4 class="card-title p-1">Welcome Back @(session.GetUsrName() == null ? "" : session.GetUsrName()) </h4>
            <p class="card-text">
                @TempData["Message"]
            </p>
            <a asp-area="" asp-action="Display" asp-controller="Product" class="btn btn-success">Products</a>
            <a asp-area="" asp-action="Add" asp-controller="Customer" class="btn btn-success">Sign Up</a>
        </div>
    </div>
</div>